.cont_contactos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto ;
    grid-gap: 1rem;
    grid-template-areas:
        'h h h'
        "c c c"
        'f f f';
}
.h{
    grid-area: h;
}
.f{
    grid-area: f;
    position: fixed;
    bottom: 0;
}
.c{
    grid-area: c;
    margin-top: 11rem;
    display: flex;
    justify-content: space-evenly;
}